@import url("https://fonts.googleapis.com/css2? family= Poppins:ital,wght@0,800;1,800 & display=swap");
* {
  font-family: "Poppins", sans-serif;
}
.container {
  display: flex;
}

.logo {
  align-self: center;
}

.formContainer {
  width: 50%;
  align-self: center;
  padding-top: 1.5em;
}
.buttonLogin {
  display: flex;
  align-self: center;
}
