.container {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/* @media only screen and (min-width: 450px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .infoContacto {
    flex-direction: row;
  }
  .maps {
  }
}
@media only screen and (max-width: 844px) {
  .container {
    height: 100%;
    display: flex;
    flex-direction: row;

    background-color: gray;
  }
  .maps {
  }
  .form {
    display: none;
  }
} */
